@font-face {
    font-family: 'Stinger Fit Regular';
    src: url('stinger-fit-trial.regular.ttf') format('truetype');
    font-family: 'Roc grostek bold';
    src: url('Fontspring-DEMO-rocgrotesk-black.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
ul a{
    color: black;
}
.nav-class {
    display: flex;
    list-style: none;
}

.nav-class li {
    padding: 30px;
}
.logo {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.fire-icon{
    color: rgb(255, 64, 0);
}
.trademark-icon{
    font-size: 0.3em;
    color: black;
}
.home{
    color: rgb(255, 64, 0);
}
.logo1 {
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

button {
    font-family: 'Stinger Fit Regular', sans-serif; 
    font-size: 24px;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.nav-class a{
    text-decoration: none;
}
img{
    margin-left: 30px;
}
.shop{
    display: flex;
}
.box1 {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 100%), url('2.png') center/contain no-repeat ; /* Replace with your gradient and image */
    color: black;
    width : 50%;
    margin-left: 50px;
}

.box1 h1{
    font-family:'Roc grostek bold';
    font-weight:bold;
    font-size: 50px;
    margin-left: 50px;
}
.box1 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.watch-video {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.under {
    position: absolute;
    right: 0px;
    top: 150px;
    z-index: 1;
  }
  .over {
    position: absolute;
    right: 80px;
    top: 120px;
    z-index: 1;
  }
  .upper {
    position: absolute;
    right: 170px;
    top: 80px;
    z-index: 1;
}
.star{
    position: absolute;
    right:100px
}
.img1{
    transform: rotate(15deg);
    position: absolute;
    left: 120px;
    top: 1000px;
    z-index: 1;
}
.star1{
    position: absolute;
    left:100px
}
.box1box h1{
    font-family:'Roc grostek bold';
    font-weight:bold;
    font-size: 50px;
    margin-left: 0px;
}
.box1box h2{
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 25px;
    color: rgb(255, 64, 0);
    margin-top: 50px;
}
.box1box h3{
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 20px;
    color: rgb(15, 14, 14);
    margin-top: 50px;
}
.box1box p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.cube-icon{
    color: rgb(255, 64, 0);
}
.fire{
    width: 200%;
    position:relative;
    right: 20px;   
}
.box2box h1{
    font-family:'Roc grostek bold';
    font-weight:bold;
    font-size: 50px;
    margin-left: 100px;
    
}
.box2box h2{
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 25px;
    color: rgb(255, 64, 0);
    margin-left: 100px;
    margin-top: 70px;
}
.box2box h3{
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 25px;
    color: rgb(15, 14, 14);
    margin-left: 100px;
}
.box2box p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-left: 100px;
}
.img2{
    transform: rotate(15deg);
    position: absolute;
    right: 60px;
    top: 1700px;
    z-index: 1;
}
.star3{
    position: absolute;
    right:150px;
    
}
.img3{
    transform: rotate(15deg);
    position: absolute;
    left: 120px;
    top: 2400px;
    z-index: 1;
}
.box3 h3{
    font-family: 'Stinger Fit Regular', sans-serif;
    font-size: 25px;
    color: rgb(15, 14, 14);
    margin-left: 50px;
    margin-top: 80px;
}
.box3 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 100px;
}
.img5{
    margin-top: 50px;
}
.star4{
    position: absolute;
    left:10px;
}
footer {
    margin-top : 15px;
}

.footer2 {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.foot1{
    margin-top: 20px;
}
.logo1{
    display: block;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Stinger Fit Regular', sans-serif;
    font-weight: 0;
}
.logo2{
    display: block;
    font-size: 1.3rem;
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Stinger Fit Regular', sans-serif;
}
.link{
    display: block;
    font-size: 1.7rem;
    margin-top: 40px;
    margin-left: 20px;
    font-family:'Roc grostek bold';
}
.footer4{
    height: 77px;
    font-size: 0.7rem;
    text-align: center;
}
.foot2 {
    padding-top: 8px;
}
.subscribe{
    margin-top: 30px;
    margin-left: 40px;
}
.img6{
    width: 180%;
}
.section{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(50% - 20px);
}
.item1{
    background-color: #ff6f61;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.item1 h2{
    font-size: 24px;
    font-weight: bold;
    color:white;
}
.item1 p{
    font-size: 18px;
    color:white;
}
.item2{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.item2 h2{
    font-size: 24px;
    font-weight: bold;
    color:black;
}
.item2 p{
    font-size: 18px;
    color:grey;
}